[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyqt5-tools = "==5.12.*"

[packages]
pyadapt = {editable = true,path = "."}
xarray = "*"

[requires]
python_version = "3.7"
