[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyqt5-tools = "==5.12.*"
jupyterlab = "*"
pylint = "*"
rope = "*"
yapf = "*"
scikit-learn = "*"
pyqt5 = "*"
pysnooper = "*"
vprof = "*"
snakeviz = "*"
py-spy = "*"
spyder-kernels = "*"
ipyparallel = "*"
ipympl = "*"
black = "*"

[packages]
pyadapt = {editable = true,path = "."}
tables = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
