[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
pylint = "*"
rope = "*"
yapf = "*"
scikit-learn = "*"
black = "==19.10b0"
pyqt5 = "*"
pysnooper = "*"
vprof = "*"
snakeviz = "*"
py-spy = "*"
spyder-kernels = "*"

[packages]
pyadapt = {editable = true,path = "."}
tables = "*"
pydoe = "*"

[requires]
python_version = "3.7"
